

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

}

h1, h2, h3, h4, p, button {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000;
    
}

.containerNav{
    width: 100%;
    height: 95vh;
    border-bottom: 9px solid #222222;
    position: relative;
    
}

.imgBanner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.colorEfect {
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.banner {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 25px 55px;
    box-sizing: border-box;

}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    width: 165px;
    z-index: 0;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.text .enter {
    width: 55px;
    background-color: #E50914;
    border-radius: 2px;
    text-align: center;
    padding: 10px;
    color: #eee;
    font-size: 14px;
    margin-left: 35px;
    cursor: pointer;
}

.text #selecao {
    background-color: transparent;
    width: 117px;
    padding: 8px;
    border: 1px solid #aaa;
    color: #fff;
    font-size: 14px;
    padding-left: 20px;
    cursor: pointer;
}

.text:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0ac";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight:900;
    font-size: 15px;
    color: #eee;
    position: relative;
    left: 24px;
 }

.text option {
    font-size: 14px;
    background-color: rgb(101, 100, 100);
}

.infInitial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

.textInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 85containerNav0px;
    text-align: center;
    margin-top: 60px;
}

.textInfo h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.textInfo h3 {
    font-size: 28px;
    margin-bottom: 35px;
}

.textInfo p {
    font-size: 20px;
}

.searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.searchBtn input {
    width: 600px;
    padding: 20px;
    border-radius: 2px;
    border: none;
    outline: 0;
    padding-left: 10px;
    font-size: 16px;
}
.searchBtn button {
    width: 250px;
    padding: 16px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    background-color: #F40612;
    color: #eee;
    font-size: 24px;
    cursor: pointer;
    margin-left: 1px;
}

.searchBtn button:hover {
    background-color: #d8000b;
}


.cont1, .cont2, .cont3, .cont4 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    padding: 40px 0;
    border-bottom: 9px solid #222222;  
    width: 100%;
    height: 400px;
  
}

.contBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 100px;
}

.revrs {
    flex-direction: row-reverse;
}

.imgCont {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 100px;
    position: relative;
    left: -150px;
}

.textcont1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
    color: #eee;
    width: 500px;
}

.textcont1 h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.textcont1 p {
    color: #eee;
    font-size: 24px;
    line-height: 2rem;
}

.fundoVideo, .fundoVideo2 {
    position: relative;
    width: 550px;
    padding-left: 70px;

}

.fundoVideo img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.videoSource {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.videoSource video {
    width: 100%;
    position: absolute;
    top: 400px;
    left: 145px;
    bottom: 0;
    right: 0;
    margin: auto;
}

.mobileShot {
    position: absolute;
    border: 3px solid #333;
    border-radius: 13px;
    right: 0;
    width: 300px;
    height: 80px;
    bottom: 35px;
    left: 180px;
    z-index: 6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    background-color: #000;
}

.mobileShot img {
    width: 40px;
}

.textShot {
    width: 130px;
    padding-left: 15px;
    position: relative;
}

.mobileShot::after {
    position: absolute;
    right: 0;
    width: 3em;
    height: 3em;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    content: '';
}

.textShot p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.textShot a {
    font-size: 14px;
    text-decoration: none;
    color: #2d2de4;
}

.fundoVideo2 {
    position: relative;
    
}

.fundoVideo2 img {
    width: 100%;
    z-index: 2;
    position: relative;
}

.videoSource2 {
    width: 280px;
    top: 0;
    left: 0;
}

.videoSource2 video {
    width: 340px;
    position: absolute;
    bottom: 180px;
    right: 110px;
    margin: auto;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #eee;
    padding: 80px 0 30px 0;
    border-bottom: 9px solid #222222;    

}

section h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.faqList {
    max-width: 815px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.faqListItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 7px;

}

.faqListItem button {
    width: 100%;
    height: 70px;
    background-color: #303030;
    border: none;
    text-align: center;
    position: relative;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.faqListItem button span {
    font-size: 35px;
    font-weight: normal;
}

.faqAswer {
    margin-top: 2px;
    width: 100%;
    max-height: 0;
    background-color: #303030;
    display: flex;
    z-index: -555;
    justify-content: center;
    align-items: center;
    transition: all 0.15s;
}

.faqAswerHilden {
    z-index: 2;
    max-height: 500px;




}

.faqAswer span {
    font-size: 25px;
    text-align: start;
    padding: 30px;
}

.emailBtn {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.searchBtn2 {
    width: 500px;
    height: 70px;

    position: relative;
}

.searchBtn2 input {
    padding: 25px;
    height: 70px;
    border-radius: 2px;
    border: none;
    outline: 0;
    padding-left: 10px;
    font-size: 16px;
}

.searchBtn2 input, .searchBtn2 label {
    width: 100%;

    position: absolute;
    box-sizing: border-box;
}

.searchBtn2 label {
    transition-duration: 0.2s;
    left: 15px;
    top: 25px;
    color: rgb(91, 91, 91);
}

.searchBtn2 input:focus + label {
    padding-top: 5px;
    top: 0;
    font-size: 14px;
    color: #000;
}

.btnEmail {
    width: 200px;
}

.btnEmail button {
    width: 100%;
    height: 70px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    background-color: #F40612;
    color: #eee;
    font-size: 24px;
    cursor: pointer;
    margin-left: 1px;
}

.btnEmail button:hover {
    background-color: #d8000b;
}

.textInfo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 50px 0 20px 0;
}

.textInfo2 p {
    font-size: 20px;
}

footer {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 80px;

}

.contFooter {
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 200px 0 100px;
    overflow: hidden;
    box-sizing: border-box;

}

.contFooter h1 {
    color:#757575 ;
    margin-bottom: 30px;
    font-size: 18px;
}

.infoFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.foot1 a {
    list-style: none;
    text-transform: none;
    text-decoration: none;
    color:#757575 ;
    font-size: 12px;
    margin-bottom: 15px;
}

.contFooter p {
    font-size: 12px;
    color:#757575 ;
}

.text2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    z-index: 1;
    max-width: 200px;
    margin-bottom: 20px;
}

.text2 #selecao2 {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    width: 170px;
    height: 60px;
    border: 1px solid #999999;
    box-shadow: 5px 2px 1px rgba(51, 51, 51, 0.5);
    color: #999999;
    font-size: 14px;
    padding-left: 60px;
    cursor: pointer;
    font-size: 18px;

}

.text2:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0ac";
    padding-right: 3px;
    font-weight:900;
    font-size: 15px;
    color: #999999;
    left: 20px;
    position: absolute;
 }

.text2 option {
    font-size: 18px;
    background-color: rgb(101, 100, 100);
}